<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
    <div th:if="${param.error}">
        Неверный логин или пароль.
    </div>
    <div th:if="${param.logout}">
        Вы вышли из системы.
    </div>

    <div class="auth-page">
        <div class="form">
            <form th:action="@{/signin}" method="post" class="login-form">
                <input type="text" name="username" placeholder="Логин"/>
                <input type="password" name="password" placeholder="Пароль"/>
                <button type="submit">Войти</button>
                <p class="message">Нет аккаунта? <a href="/signup">Создать аккаунт</a></p>
            </form>
        </div>
    </div>
</body>
</html>